body {
    font-family: 'Poppins', sans-serif;
    background-color: #F4F7F9;
    color: #333333; /*text color*/
}

.project-item { /*this is where we control our card color*/
    background-color: #FFFFFF;
    border: 1px solid #4A76A8;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    transition: transform 0.2s ease-in-out;
}

.project-item h3 {
    margin: 5px 0;
}

.project-item h4 {
    margin-bottom: 5px;
}

.project-item h2 {
    margin-bottom: 1px;
}

.progress-milestones-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

.milestone-list {
    flex-grow: 1;
}

.milestone-item {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.progress-bar-wrapper {
    flex-shrink: 0; /* Prevents shrinking */
    width: 250px;
}
.progress-bar{
    height: 100%;
    background-color: #4caf50;
    text-align: center;
    line-height: 30px;
    color: white;
}
.progress-bar-container{
    width: 100%;
    background-color: #c7c7c7;
    border-radius: 10px;
    overflow: hidden;
    height: 30px;
    margin-top: 5px;
}

/* Save Changes Button */
.js-save-project-button {
    background-color: #4A76A8; /* Your chosen accent color */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.js-save-project-button:hover {
    background-color: #385E8F; /* A slightly darker shade for the hover effect */
}